.container {
    padding-top: 50px;
    margin: auto;
    width: 50%;
      
}

#main-menu {
    display: block;
}

#quiz-area {
    display: none;
}

#result-area {
    display: block;
}

#score-area {
    display: none;
}